* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 20px;
    padding-left: 10%;
    background-color: #1E4832;
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    color: white;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

footer {
    padding: 20px;
    background-color: #1E4832;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button {
    appearance: none;
    background: none;
    border: none;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.main-section-wrapper {
    font-family: Arial, sans-serif;
    padding-top: 30%;
}

.footer-link-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.profile-wrapper {
    padding-bottom: 5px;
}

.profile-list {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(4, auto); /* 3 rows */
    gap: 10px; /* Gap between grid items */
    border: 1px solid #ccc;
    border-radius: 5px;
    list-style: none;
    padding: 10px;
    width: 300px; /* adjust width as needed */
    grid-template-areas:
        "profileImg roleName"
        "progressBar progressBar"
        "lineManager offerMade"
        "salary startDate";
}

.profile-wrapper li:nth-child(1) { grid-area: profileImg; }
.profile-wrapper li:nth-child(2) { grid-area: roleName; }
.profile-wrapper li:nth-child(3) { grid-area: progressBar; }
.profile-wrapper li:nth-child(4) { grid-area: lineManager; }
.profile-wrapper li:nth-child(5) { grid-area: offerMade; }
.profile-wrapper li:nth-child(6) { grid-area: salary; }
.profile-wrapper li:nth-child(7) { grid-area: startDate; }

.profile-icon {
    width: 35%;
}

.first-day-logo {
    width: 15%;
}

.checklist-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.checklist-list {
    list-style: none;
    height: 5%;
    margin: 5px 0;
    padding: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checklist-list li {
    justify-content: center;
}

.not-ready {
    color:#ccc;
}

.item-wrapper {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.wallet-item {
    width: 50%;
}

.calendar-item {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
body {
    font-family: Arial, sans-serif;
}

.progress-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 25px;
    margin: 20px 0;
    padding: 3px;
}

.progress-bar {
    width: 0%;
    height: 30px;
    background-color: #4caf50;
    border-radius: 25px;
    text-align: center;
    line-height: 30px;
    color: white;
}

.title-wrapper {
    display: flex;
    justify-content: center;
}