* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 20px;
    padding-left: 0;
    background-color: #1E4832;
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    color: white;
}

footer {
    padding: 20px;
    background-color: #1E4832;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button {
    appearance: none;
    background: none;
    border: none;
    color: white;
}

.main-section-wrapper {
    font-family: Arial, sans-serif;
    padding-top: 20%;
}

.footer-link-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.profile-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(3, auto); /* 3 rows */
    gap: 10px; /* Gap between grid items */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 300px; /* adjust width as needed */
    grid-template-areas:
        "roleName progressBar"
        "lineManager offerMade"
        "salary startDate";
}

.profile-wrapper li:nth-child(1) { grid-area: roleName; }
.profile-wrapper li:nth-child(2) { grid-area: progressBar; }
.profile-wrapper li:nth-child(3) { grid-area: lineManager; }
.profile-wrapper li:nth-child(4) { grid-area: offerMade; }
.profile-wrapper li:nth-child(5) { grid-area: salary; }
.profile-wrapper li:nth-child(6) { grid-area: startDate; }